<header>
    <div class="navbar navbar-fixed-top navbar-default">
        <a class="forkme" href="https://github.com/Jako/multiTV"><img src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">multiTV</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li {% if "/installation.html" == page.url %}class="active"{% endif %}>
                    <a href="installation.html">
                        Installation
                    </a>
                    </li>
                    <li class="dropdown{% if "index.html" == page.url %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for weight in (1..10) %}
                        {% for p in site.pages %}
                        {% if p.weight == weight %}
                        {% if p.category == "Documentation" %}
                            <li {% if p.url == page.url %}class="active"{% endif %}>
                            <a href="{{ p.url }}">
                                {{ p.title }}
                            </a>
                            </li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </ul>
                    </li>
                    <li {% if "/examples.html" == page.url %}class="active"{% endif %}>
                    <a href="examples.html">
                        Examples
                    </a>
                    </li>
                    <li {% if "/donate.html" == page.url %}class="active"{% endif %}>
                    <a href="donate.html">
                        Donate
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>